In [1]:
import pandas as pd

In [2]:
path = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-sedelkin/practice/data/personal/mirvr_bookings_01_11_2023.xlsx'

bookings = pd.read_excel(path)

In [3]:
bookings.rename(columns={'Номер записи': 'booking_no', 'Телефон клиента': 'phone'}, inplace = True)

In [4]:
bookings.query('booking_no == 142801803')

,booking_no,Статус,Время начала,Время окончания,Сумма счета,Оплачено,Услуга,Продолжительность,Сотрудник,Создано,...,Закрыто с OS,User Agent закрывшего,Кампания,Содержание,Канал,Источник,Условие,ClientID,Служебное поле,ID абонемента
426,142801803,Выполнено,18.10.2023 18:00,18.10.2023 19:00,0,0,"Игра по абонементу MIR VR, Игра по абонементу ...",120,VR-1,17.10.2023 20:30,...,Windows 10,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,NaN,NaN,NaN,Widget,NaN,1697562745387344128,NaN,301711

In [5]:
bookings_number_clientid = bookings[['booking_no', 'ClientID']]

In [6]:
bookings_number_clientid

     booking_no             ClientID
0     314015499               cookie
1     925025815               cookie
2     224124947  1665409067664737024
3     925025241  1665409067664737024
4     224140178               cookie
..          ...                  ...
487    97009520               cookie
488    97044222               cookie
489    20135903               cookie
490     9802004               cookie
491    17350925               cookie

[492 rows x 2 columns]

In [9]:
from pathlib import Path  

filepath = Path('~/practice/data/personal/full_yuid.csv')  

filepath.parent.mkdir(parents=True, exist_ok=True)  

bookings_number_clientid.to_csv(filepath, index=False)