In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
search_item = 'sunflower'

search_request_url = 'https://collectionapi.metmuseum.org/public/collection/v1/search?q={}'
r = requests.get(search_request_url.format(search_item))
res = r.json()

In [43]:
sunflower_ids = [i for i in res['objectIDs']]
len(sunflower_ids)

93

In [44]:
sunflower_ids

[485308,
 822590,
 437112,
 707887,
 436524,
 363282,
 360837,
 210191,
 11922,
 400581,
 367817,
 20141,
 480725,
 347980,
 208554,
 207869,
 437115,
 486590,
 375281,
 705155,
 484935,
 423400,
 343052,
 223828,
 682927,
 57922,
 79739,
 193938,
 649813,
 339347,
 626832,
 208218,
 202228,
 437984,
 761604,
 696949,
 704667,
 822589,
 437329,
 207753,
 701016,
 822570,
 816522,
 487043,
 436580,
 436252,
 203893,
 367434,
 190739,
 2032,
 431264,
 423237,
 397949,
 262423,
 436534,
 437526,
 403496,
 895564,
 13644,
 656530,
 18362,
 820022,
 648617,
 761731,
 814626,
 892559,
 207967,
 2019,
 262430,
 262428,
 841928,
 839296,
 205386,
 262378,
 707697,
 426804,
 436535,
 633526,
 369073,
 747779,
 436529,
 436121,
 852414,
 427872,
 436144,
 436530,
 724844,
 437980,
 631808,
 396836,
 834765,
 834580,
 834585]

In [16]:
reference_ids = [2032, 16822570, 437329, 436524, 20149]

for i in reference_ids:
    if i in(sunflower_ids):
        print(i)
    else:
        print('not a sunflower')

2032
not a sunflower
437329
436524
not a sunflower

In [17]:
target_id = 437980

object_request_url = 'https://collectionapi.metmuseum.org/public/collection/v1/objects/{}'
r_test = requests.get(object_request_url.format(target_id))

obj_test = r_test.json()
obj_test

{'objectID': 437980,
 'isHighlight': False,
 'accessionNumber': '49.30',
 'accessionYear': '1949',
 'isPublicDomain': True,
 'primaryImage': 'https://images.metmuseum.org/CRDImages/ep/original/DP130999.jpg',
 'primaryImageSmall': 'https://images.metmuseum.org/CRDImages/ep/web-large/DP130999.jpg',
 'additionalImages': [],
 'constituents': [{'constituentID': 161947,
   'role': 'Artist',
   'name': 'Vincent van Gogh',
   'constituentULAN_URL': 'http://vocab.getty.edu/page/ulan/500115588',
   'constituentWikidata_URL': 'https://www.wikidata.org/wiki/Q5582',
   'gender': ''}],
 'department': 'European Paintings',
 'objectName': 'Painting',
 'title': 'Cypresses',
 'culture': '',
 'period': '',
 'dynasty': '',
 'reign': '',
 'portfolio': '',
 'artistRole': 'Artist',
 'artistPrefix': '',
 'artistDisplayName': 'Vincent van Gogh',
 'artistDisplayBio': 'Dutch, Zundert 1853–1890 Auvers-sur-Oise',
 'artistSuffix': '',
 'artistAlphaSort': 'Gogh, Vincent van',
 'artistNationality': 'Dutch',
 'artistBeginDate': '1853',
 'artistEndDate': '1890',
 'artistGender': '',
 'artistWikidata_URL': 'https://www.wikidata.org/wiki/Q5582',
 'artistULAN_URL': 'http://vocab.getty.edu/page/ulan/500115588',
 'objectDate': '1889',
 'objectBeginDate': 1889,
 'objectEndDate': 1889,
 'medium': 'Oil on canvas',
 'dimensions': '36 3/4 x 29 1/8 in. (93.4 x 74 cm)',
 'measurements': [{'elementName': 'Overall',
   'elementDescription': None,
   'elementMeasurements': {'Height': 93.4, 'Width': 74}},
  {'elementName': 'Frame',
   'elementDescription': None,
   'elementMeasurements': {'Depth': 10.795,
    'Height': 116.2052,
    'Width': 96.5202}},
  {'elementName': 'Other',
   'elementDescription': 'glass',
   'elementMeasurements': {'Height': 94.29769, 'Width': 76.517654}}],
 'creditLine': 'Rogers Fund, 1949',
 'geographyType': '',
 'city': '',
 'state': '',
 'county': '',
 'country': '',
 'region': '',
 'subregion': '',
 'locale': '',
 'locus': '',
 'excavation': '',
 'river': '',
 'classification': 'Paintings',
 'rightsAndReproduction': '',
 'linkResource': '',
 'metadataDate': '2023-09-21T04:54:50.817Z',
 'repository': 'Metropolitan Museum of Art, New York, NY',
 'objectURL': 'https://www.metmuseum.org/art/collection/search/437980',
 'tags': [{'term': 'Landscapes',
   'AAT_URL': 'http://vocab.getty.edu/page/aat/300132294',
   'Wikidata_URL': 'https://www.wikidata.org/wiki/Q191163'},
  {'term': 'Cypresses',
   'AAT_URL': 'http://vocab.getty.edu/page/aat/300343641',
   'Wikidata_URL': 'https://www.wikidata.org/wiki/Q146911'}],
 'objectWikidata_URL': 'https://www.wikidata.org/wiki/Q867510',
 'isTimelineWork': True,
 'GalleryNumber': '825'}

In [ ]:
     objectID – id объекта
    title – название
    artistDisplayName – автор
    department – департамент
    objectBeginDate – дата (начало)
    objectEndDate – дата (конец)
    period – название периода
    objectName – название/категория объекта
    culture – культура

In [19]:
sunflower_objects = pd.DataFrame(columns=['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture'])
sunflower_objects

Empty DataFrame
Columns: [objectID, title, artistDisplayName, department, objectBeginDate, objectEndDate, period, objectName, culture]
Index: []

In [35]:
index = 0

for i in sunflower_ids:
    
    target_id = i
    
    r_test = requests.get(object_request_url.format(target_id))
    obj_test = r_test.json()
    
    for n in sunflower_objects.columns:
        try:
            sunflower_objects.at[index, n] = obj_test[n]
        except:
            print('Could not add ' + str(i))
    
    print('added ' + str(i))
    index += 1

added 485308
added 822590
added 437112
added 707887
added 436524
added 363282
added 360837
added 210191
added 11922
added 400581
added 367817
added 20141
added 480725
added 347980
added 208554
added 207869
added 437115
added 486590
added 375281
added 705155
added 484935
added 423400
added 343052
added 223828
added 682927
added 57922
added 79739
added 193938
added 649813
added 339347
added 626832
added 208218
added 202228
added 437984
added 761604
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
added 696949
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
added 704667
added 822589
added 437329
added 207753
added 701016
added 822570
added 816522
added 487043
added 436580
added 436252
added 203893
added 367434
added 190739
added 2032
added 431264
added 423237
added 397949
added 262423
added 436534
added 437526
added 403496
added 895564
added 13644
added 656530
added 18362
added 820022
added 648617
added 761731
added 814626
added 892559
added 207967
added 2019
added 262430
added 262428
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
added 841928
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
added 839296
added 205386
added 262378
added 707697
added 426804
added 436535
added 633526
added 369073
added 747779
added 436529
added 436121
added 852414
added 427872
added 436144
added 436530
added 724844
added 437980
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
added 631808
added 396836
added 834765
added 834580
added 834585

In [39]:
sunflower_objects.reset_index(inplace=True)

In [45]:
target_id = 696949

r_test = requests.get(object_request_url.format(target_id))
obj_test = r_test.json()

obj_test

{'message': 'Not a valid object'}

In [40]:
sunflower_objects

,index,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,0,485308.0,Sunflower,Joan Mitchell,Modern and Contemporary Art,1969.0,1969.0,,Painting,
1,1,822590.0,Sunflower,Brigitte Coudrain,Drawings and Prints,1950.0,1975.0,,Print,
2,2,437112.0,Bouquet of Sunflowers,Claude Monet,European Paintings,1881.0,1881.0,,Painting,
3,3,707887.0,Botanical dish with white sunflower,Chelsea Porcelain Manufactory,European Sculpture and Decorative Arts,1750.0,1760.0,,Dish,
4,4,436524.0,Sunflowers,Vincent van Gogh,European Paintings,1887.0,1887.0,,Painting,
...,...,...,...,...,...,...,...,...,...,...
83,87,437980.0,Cypresses,Vincent van Gogh,European Paintings,1889.0,1889.0,,Painting,
84,89,396836.0,The Aesthetic Craze,Currier & Ives,Drawings and Prints,1882.0,1882.0,,Print,
85,90,834765.0,"A Child's Garden, from ""Picture Poesies""",Arthur Boyd Houghton,Drawings and Prints,1865.0,1874.0,,Print,
86,91,834580.0,"A Life in a Year–The Garden–Noon, from ""Pictur...",Arthur Boyd Houghton,Drawings and Prints,1866.0,1874.0,,Print,
87,92,834585.0,"A Life in a Year–The Garden–Noon, from ""Pictur...",Arthur Boyd Houghton,Drawings and Prints,1866.0,1874.0,,Print,

In [47]:
sunflower_objects[sunflower_objects.culture == 'Japan'].count()

index                1
objectID             1
title                1
artistDisplayName    1
department           1
objectBeginDate      1
objectEndDate        1
period               1
objectName           1
culture              1
dtype: int64

In [67]:
complex_search_request = 'https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId={}&q={}'
department_id = 6
search_phrase = 'cat'

r = requests.get(complex_search_request.format(department_id, search_phrase))
cats = r.json()

In [69]:
cat_ids = [i for i in cats['objectIDs']]
len(cat_ids)

3357

In [61]:
cat_objects = pd.DataFrame(columns=['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 'objectEndDate', 'objectName', 'culture', 'period'])

index = 0

for i in cat_ids[:1000]:
    
    target_id = i
    
    r_test = requests.get(object_request_url.format(target_id))
    obj_test = r_test.json()
    
    for n in cat_objects.columns:
        try:
            cat_objects.at[index, n] = obj_test[n]
        except:
            print('Could not add ' + str(i))
    
    print('added ' + str(i))
    index += 1

added 485308
added 822590
added 437112
added 707887
added 436524
added 363282
added 360837
added 210191
added 11922
added 400581
added 367817
added 20141
added 480725
added 347980
added 208554
added 207869
added 437115
added 486590
added 375281
added 705155
added 484935
added 423400
added 343052
added 223828
added 682927
added 57922
added 79739
added 193938
added 649813
added 339347
added 626832
added 208218
added 202228
added 437984
added 761604
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
Could not add 696949
added 696949
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
Could not add 704667
added 704667
added 822589
added 437329
added 207753
added 701016
added 822570
added 816522
added 487043
added 436580
added 436252
added 203893
added 367434
added 190739
added 2032
added 431264
added 423237
added 397949
added 262423
added 436534
added 437526
added 403496
added 895564
added 13644
added 656530
added 18362
added 820022
added 648617
added 761731
added 814626
added 892559
added 207967
added 2019
added 262430
added 262428
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
Could not add 841928
added 841928
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
Could not add 839296
added 839296
added 205386
added 262378
added 707697
added 426804
added 436535
added 633526
added 369073
added 747779
added 436529
added 436121
added 852414
added 427872
added 436144
added 436530
added 724844
added 437980
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
Could not add 631808
added 631808
added 396836
added 834765
added 834580
added 834585

In [66]:
cat_objects.groupby('period').size()

period
                          87
Edo period (1615–1868)     1
dtype: int64

In [70]:
cat_objects = pd.DataFrame(columns=['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 'objectEndDate', 'objectName', 'culture', 'period'])

index = 0

for i in cat_ids[:1000]:
    
    target_id = i
    
    r_test = requests.get(object_request_url.format(target_id))
    obj_test = r_test.json()
    
    for n in cat_objects.columns:
        try:
            cat_objects.at[index, n] = obj_test[n]
        except:
            print('Could not add ' + str(i))
    
    print('added ' + str(i))
    index += 1

added 49698
added 49470
added 36221
added 53222
added 60873
added 70541
added 752008
added 43402
added 47358
added 49467
added 54747
added 54626
added 55919
added 59775
added 55923
added 36075
added 50826
added 57204
added 53653
added 42922
added 56602
added 47051
added 47052
added 72842
added 69780
added 59121
added 38952
added 38177
added 39199
added 59903
added 73809
added 59763
added 49050
added 58462
added 45282
added 38994
added 39092
added 38158
added 38162
added 38160
added 50780
added 59248
added 55948
added 54124
added 36411
added 58779
added 73046
added 53441
added 671015
added 42932
added 45065
added 56780
added 59249
added 42915
added 36346
added 51660
added 38949
added 36118
added 670898
added 55914
added 39764
added 69410
added 68841
added 55148
added 37011
added 36621
added 58218
added 54445
added 57560
added 56070
added 41681
added 53590
added 46723
added 45667
added 36539
added 55967
added 58002
added 50827
added 76442
added 54809
added 38452
added 39698
added 39699
added 75200
added 38176
added 38951
added 57106
added 38462
added 75909
added 38293
added 38315
added 52995
added 52994
added 53005
added 53422
added 73158
added 70582
added 671014
added 670965
added 75747
added 671023
added 74813
added 671042
added 53408
added 53203
added 53007
added 53200
added 53457
added 53167
added 53231
added 53416
added 53001
added 53234
added 53414
added 52996
added 53178
added 53006
added 53429
added 53410
added 53176
added 53002
added 671016
added 670994
added 671055
added 54540
added 53419
added 761386
added 53221
added 53175
added 53439
added 671056
added 53183
added 53456
added 53010
added 53219
added 53446
added 53241
added 53207
added 53187
added 53195
added 53179
added 72585
added 671024
added 50486
added 55802
added 53427
added 43247
added 74421
added 53165
added 53157
added 53190
added 53172
added 670891
added 39901
added 670920
added 53449
added 53162
added 670943
added 78227
added 56128
added 667348
added 670908
added 45640
added 36100
added 54576
added 54567
added 73352
added 53660
added 670916
added 670949
added 670883
added 670910
added 671036
added 670989
added 53158
added 38451
added 39556
added 670894
added 670947
added 670882
added 670938
added 671039
added 53458
added 662782
added 670917
added 68411
added 74423
added 53444
added 53426
added 64872
added 670974
added 670968
added 671035
added 45358
added 53230
added 76091
added 69670
added 77871
added 76458
added 45359
added 72747
added 39902
added 54184
added 53453
added 670897
added 40487
added 73355
added 670921
added 671007
added 671005
added 73358
added 670993
added 670995
added 53424
added 60485
added 60470
added 36315
added 53228
added 670981
added 76769
added 44292
added 38267
added 39328
added 65584
added 53454
added 37397
added 38926
added 39111
added 77657
added 74424
added 69860
added 53465
added 54774
added 670942
added 671026
added 670928
added 670979
added 671046
added 671050
added 670950
added 53443
added 53466
added 56901
added 671008
added 671028
added 671027
added 53409
added 65075
added 670915
added 78670
added 53245
added 765654
added 53202
added 52987
added 53421
added 78195
added 61429
added 38490
added 38940
added 39021
added 39107
added 39116
added 39020
added 38304
added 38326
added 53246
added 53445
added 78197
added 44723
added 53423
added 40765
added 39076
added 65392
added 53405
added 670913
added 53008
added 671031
added 48942
added 73359
added 45675
added 53174
added 671020
added 53238
added 77799
added 40478
added 670951
added 76462
added 670963
added 57062
added 62744
added 38435
added 37800
added 52988
added 61658
added 42725
added 39496
added 53406
added 53404
added 670923
added 53004
added 53199
added 670540
added 670541
added 670542
added 53455
added 659913
added 65394
added 53189
added 39635
added 38930
added 38011
added 38335
added 37854
added 64893
added 57612
added 42722
added 38341
added 39357
added 38303
added 38330
added 670904
added 670887
added 670933
added 45756
added 49129
added 670907
added 671032
added 670896
added 670903
added 670960
added 53892
added 670889
added 65417
added 727181
added 54779
added 53181
added 671052
added 52946
added 41493
added 52990
added 53461
added 53451
added 53430
added 42547
added 38265
added 53447
added 42219
added 39413
added 48870
added 48871
added 45824
added 45823
added 45825
added 41773
added 45826
added 52462
added 40256
added 38945
added 39640
added 53448
added 38202
added 39639
added 74906
added 65594
added 51042
added 72381
added 40528
added 40527
added 38648
added 38509
added 37789
added 38159
added 53156
added 53154
added 53401
added 53226
added 53237
added 40507
added 60473
added 42693
added 671001
added 73370
added 42733
added 40257
added 48948
added 49238
added 53242
added 53223
added 644664
added 40510
added 45657
added 671017
added 671034
added 670945
added 54773
added 45746
added 670961
added 53163
added 54782
added 53194
added 53463
added 53186
added 700508
added 42178
added 39327
added 40524
added 74448
added 40614
added 40745
added 40603
added 40604
added 40605
added 40606
added 40741
added 40609
added 40613
added 40607
added 40610
added 40608
added 40611
added 40674
added 40612
added 42704
added 36451
added 72605
added 73333
added 73309
added 44616
added 40222
added 40296
added 37687
added 37686
added 37541
added 37414
added 37691
added 37410
added 37416
added 37427
added 40468
added 42016
added 38492
added 38499
added 38491
added 38960
added 38925
added 38928
added 38943
added 38934
added 38931
added 38983
added 39003
added 39077
added 39034
added 39007
added 39160
added 39050
added 39012
added 39037
added 39027
added 39028
added 39075
added 39058
added 39035
added 39060
added 39008
added 39024
added 39126
added 39026
added 39051
added 39014
added 39016
added 39154
added 39331
added 38082
added 37704
added 38091
added 37699
added 37702
added 37727
added 37706
added 38089
added 38112
added 38168
added 38185
added 38178
added 38116
added 38205
added 38105
added 38171
added 38196
added 38157
added 38170
added 38132
added 38424
added 38228
added 38263
added 38428
added 38261
added 38285
added 38276
added 38242
added 38289
added 38346
added 39544
added 39892
added 51475
added 51476
added 38328
added 53240
added 43091
added 39527
added 39524
added 78198
added 42378
added 843764
added 39532
added 42469
added 42450
added 42491
added 44746
added 37971
added 39883
added 78188
added 44745
added 76733
added 812451
added 39881
added 843762
added 61549
added 49216
added 42549
added 44738
added 42229
added 38474
added 38498
added 38468
added 39142
added 37743
added 38108
added 39676
added 45020
added 39957
added 45812
added 45795
added 48879
added 53415
added 53462
added 53450
added 53212
added 53188
added 53413
added 49174
added 768115
added 38119
added 45428
added 670970
added 45763
added 52096
added 53460
added 39482
added 39668
added 53428
added 38348
added 73200
added 40633
added 38430
added 75822
added 44735
added 36029
added 37680
added 37418
added 37417
added 37683
added 37692
added 37688
added 37689
added 38924
added 38998
added 39079
added 39036
added 39048
added 39097
added 39054
added 39049
added 39062
added 39053
added 39046
added 39047
added 39167
added 39411
added 37711
added 37707
added 38086
added 38125
added 38219
added 38286
added 39601
added 39602
added 38530
added 692123
added 49889
added 50897
added 38518
added 64484
added 72739
added 73258
added 49589
added 49575
added 49380
added 49588
added 49540
added 44346
added 42429
added 42729
added 42700
added 42732
added 42717
added 36046
added 37411
added 40407
added 38777
added 38789
added 38716
added 38950
added 38111
added 38109
added 38131
added 38115
added 38211
added 38226
added 38227
added 39950
added 44798
added 51076
added 52777
added 52976
added 54207
added 53774
added 54208
added 39385
added 44523
added 38128
added 61650
added 75831
added 49567
added 42498
added 42505
added 40211
added 37415
added 37426
added 42162
added 38495
added 38489
added 38496
added 39355
added 38100
added 38095
added 37734
added 38093
added 38260
added 38221
added 38224
added 38245
added 48910
added 52109
added 52164
added 53204
added 53012
added 49241
added 49243
added 49151
added 53013
added 670909
added 49146
added 48927
added 45775

added 41491
added 53197
added 45804
added 60435
added 36090
added 41488
added 37801
added 38187
added 38223
added 39322
added 39415
added 44348
added 72508
added 76768
added 40729
added 40681
added 72485
added 713008
added 45449
added 53129
added 42148
added 72671
added 72593
added 76974
added 49186
added 49170
added 42433
added 42727
added 36131
added 37621
added 37620
added 40766
added 42012
added 38788
added 39210
added 37750
added 37756
added 37788
added 37755
added 38372
added 39207
added 39209
added 39880
added 51312
added 53389
added 53259
added 53265
added 53862
added 53474
added 60451
added 78283
added 74426
added 42513
added 42495
added 40282
added 40406
added 38635
added 38487
added 38488
added 38987
added 38974
added 38986
added 39128
added 38098
added 38081
added 38084
added 38079
added 38103
added 38254
added 39605
added 56220
added 671043
added 48969
added 44918
added 45682
added 40080
added 48950
added 60441
added 60465
added 60469
added 62739
added 61825
added 44508
added 39536
added 36055
added 38097
added 38222
added 670990
added 39582
added 64921
added 72383
added 45616
added 42588
added 42590
added 44893
added 45249
added 44910
added 45601
added 44891
added 44838
added 45599
added 49124
added 44890
added 843779
added 42587
added 45738
added 45737
added 44876
added 49109
added 49107
added 49108
added 49112
added 44516
added 44461
added 44512
added 65397
added 49534
added 60870
added 42323
added 42445
added 36005
added 37966
added 41487
added 39707
added 39649
added 39906
added 50688
added 52104
added 52617
added 54209
added 54289
added 44800
added 44797
added 49436
added 49437
added 40062
added 39096
added 38210
added 39936
added 40086
added 722026
added 41483
added 76463
added 45776
added 40508
added 39915
added 39918
added 49549
added 62953
added 733847
added 53009
added 670952
added 45652
added 44858
added 671051
added 40081
added 42508
added 38575
added 44799
added 53198
added 39933
added 45524
added 45617
added 44602
added 45201
added 44983
added 44959
added 44841
added 36143
added 61660
added 49193
added 49222
added 61430
added 42340
added 42465
added 42439
added 42447
added 42544
added 42533
added 42589
added 42712
added 42703
added 42724
added 36038
added 38252
added 45683
added 39320
added 41479
added 53180
added 40285
added 670969
added 77863
added 854002
added 39931
added 60437
added 662737
added 56786
added 55236
added 57005
added 56384
added 56214
added 36495
added 36498
added 45218
added 49187
added 44849
added 63022
added 63024
added 63028
added 63023
added 48557
added 48511
added 48806
added 48807
added 48805
added 45995
added 45980
added 45946
added 45944
added 63000
added 47195
added 47332
added 47761
added 47508
added 47943
added 63029
added 63030
added 63031
added 47571
added 63025
added 42707
added 42731
added 42014
added 39165
added 44859
added 50782
added 47204
added 47249
added 47250
added 63021
added 40087
added 42169
added 42176
added 42164
added 42166
added 42165
added 42167
added 42173
added 42168
added 42172
added 42174
added 42170
added 42175
added 42171
added 49158
added 60443
added 40054
added 40512
added 56785
added 56727
added 56217
added 56240
added 39800
added 45030
added 41753
added 63038
added 47835
added 76565
added 76568
added 76571
added 76561
added 48765
added 47979
added 47971
added 48651
added 48748
added 48778
added 48556
added 48773
added 48728
added 48541
added 48099
added 47975
added 48801
added 47974
added 47973
added 45556
added 45559
added 44440
added 45553
added 44441
added 45560
added 45558
added 45557
added 45561
added 52444
added 52357
added 52479
added 52478
added 52355
added 56856
added 56855
added 53469
added 56854
added 46000
added 45839
added 45972
added 45828
added 45943
added 45904
added 45881
added 45977
added 45926
added 45936
added 45949
added 45966
added 46010
added 45922
added 46002
added 45988
added 45871
added 45838
added 45959
added 45918

In [81]:
cat_objects.groupby('period').agg({'objectID': 'count'}).sort_values(by='objectID', ascending=False)

                                                    objectID
period
Edo period (1615–1868)                                   274
                                                         144
Qing dynasty (1644–1911)                                  66
Ming dynasty (1368–1644)                                  42
Muromachi period (1392–1573)                              32
...                                                      ...
Ming dynasty (1368–1644), Wanli mark and period...         1
Ming dynasty (1368–1644), Tianqi period (1621–27)          1
Ming dynasty (1368–1644), Chongzhen period (162...         1
Ming dynasty (1368–1644), Chongzen period (1628...         1
Nanbokuchō (1336–92)–Muromachi (1392–1573) period          1

[124 rows x 1 columns]

In [78]:
cat_objects.head()

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,objectName,culture,period
0,49698,Cat,Zhang Yuguang,Asian Art,1900,1968,Folding fan mounted as an album leaf,China,
1,49470,Cat,Wang Li,Asian Art,1813,1879,Hanging scroll,China,Qing dynasty (1644–1911)
2,36221,Cat,Wang Yun,Asian Art,1900,1933,Hanging scroll,China,
3,53222,Musk Cat,Uto Gyoshi,Asian Art,1550,1599,Hanging scroll,Japan,Muromachi period (1392–1573)
4,60873,Head ornament,,Asian Art,960,1279,Head ornament,China,Song dynasty (960–1279) or later