In [1]:
import pandas as pd
import numpy as np

In [2]:
from io import BytesIO
import requests


req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))

In [3]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [4]:
((df[df.gender == 'male'].users / df.users.sum()) * 100).round(0)

1    41.0
Name: users, dtype: float64

In [5]:
path_to_file = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-sedelkin/practice/data/7_browser.csv'
df_y = pd.read_csv(path_to_file)

In [6]:
df_y

          date           browser user_type  users
0   2020-06-14     Google Chrome    People    139
1   2020-06-14     Chrome Mobile    People     35
2   2020-06-14     Google Chrome    Robots     28
3   2020-06-14    Yandex Browser    People     22
4   2020-06-14           Firefox    People     15
5   2020-06-14            Safari    People     13
6   2020-06-14           Firefox    Robots      8
7   2020-06-14   Android Browser    People      8
8   2020-06-14             Opera    People      5
9   2020-06-14     Mobile Safari    People      5
10  2020-06-14  Samsung Internet    People      5
11  2020-06-14            Safari    Robots      2
12  2020-06-14             UCWEB    Robots      2
13  2020-06-14              Edge    Robots      2
14  2020-06-14             Opera    Robots      1
15  2020-06-14             UCWEB    People      1
16  2020-06-14    Firefox Mobile    People      1
17  2020-06-14    Yandex Browser    Robots      1
18  2020-06-14   Android Browser    Robots      1
19  2020-06-14     Chrome Mobile    Robots      1
20  2020-06-14          Chromium    People      1
21  2020-06-14          Chromium    Robots      1
22  2020-06-14              Edge    People      1
23  2020-06-14            CocCoc    People      1

In [7]:
chrome_robots = pd.Series(np.where((df_y.user_type == 'Robots') & (df_y.browser.str.contains('Chrome')), 1, 0))

In [8]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

In [9]:
path_to_file_a = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-sedelkin/practice/data/7_sample_ads.csv'
df_a = pd.read_csv(path_to_file_a)
df_a

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [10]:
df_a.click_type.notna().sum()

11

In [24]:
import requests
import json
from urllib.parse import urlencode

token_file = open('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-sedelkin/practice/API/telegram_test_token.txt')
token = token_file.read()
token_file.close()

chat_id = 57223  # your chat id

message = 'hello, this is a test'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)

6246203005:AAFNak4rfr_sZnR9KcuKC07JCudRY-65LEY