Кейс №2 - Приложение доставки

Вы работаете аналитиком в приложении по доставке продуктов. Команда внедрила в приложение умную систему рекомендации товаров – предполагается, что такая система поможет пользователям эффективнее работать с приложением и лучше находить необходимые товары.

Чтобы проверить эффективность системы рекомендаций, был проведен АБ-тест. В группе 1 оказались пользователи с новой системой рекомендаций, в группе 0 пользователи со старой версией приложения, где нет рекомендации товаров.

Ваша задача – оценить, смогла ли новая система рекомендаций принести пользу бизнесу и пользователям приложения. Для этого нужно выбрать метрики, которые отвечают за качество сервиса, и статистически сравнить эти метрики в двух группах.

Результат вашей работы – аналитическое заключение с ответом на вопрос, стоит ли включать новую систему рекомендаций на всех пользователей.

В данных вы найдете логи заказов пользователей:

    ab_users_data – история заказов пользователей, в этой таблице есть информация о том, какие заказы создавали и отменяли пользователи
    ab_orders – подробная информация о составе заказа, тут для каждого заказа есть список id тех продуктов, которые были включены в заказ
    ab_products – подробная информация о продуктах, их название и стоимость

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss
import pingouin as pg

import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedCacheFailedWarning: Failed to use cache while checking for outdated package.
Set the environment variable OUTDATED_RAISE_EXCEPTION=1 for a full traceback.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs
/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.1, the latest is 0.2.2.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs
/opt/tljh/user/lib/python3.7/site-packages/outdated/utils.py:18: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.4.0, the latest is 0.5.3.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs

In [4]:
ab_orders = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-sedelkin/analytics_practice/statistics/data/ab_orders.csv')
ab_users_data = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-sedelkin/analytics_practice/statistics/data/ab_users_data.csv')
ab_products = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-sedelkin/analytics_practice/statistics/data/ab_products.csv')

In [5]:
ab_orders

      order_id               creation_time         product_ids
0         1255  2022-08-26 00:00:19.000000    {75, 22, 53, 84}
1         1256  2022-08-26 00:02:21.000000        {56, 76, 39}
2         1257  2022-08-26 00:02:27.000000    {76, 34, 41, 38}
3         1258  2022-08-26 00:02:56.000000             {74, 6}
4         1259  2022-08-26 00:03:37.000000    {20, 45, 67, 26}
...        ...                         ...                 ...
4118     59422  2022-09-08 23:13:03.000000         {84, 8, 24}
4119     59439  2022-09-08 23:18:05.000000  {9, 25, 75, 30, 6}
4120     59464  2022-09-08 23:22:27.000000        {60, 41, 46}
4121     59487  2022-09-08 23:29:06.000000         {9, 62, 77}
4122     59533  2022-09-08 23:41:24.000000            {17, 85}

[4123 rows x 3 columns]

In [6]:
ab_products

    product_id                     name  price
0            1                    сахар  150.0
1            2  чай зеленый в пакетиках   50.0
2            3      вода негазированная   80.4
3            4                  леденцы   45.5
4            5               кофе 3 в 1   15.0
..         ...                      ...    ...
82          83                    вафли   55.0
83          84                мандарины   90.4
84          85                  варенье  200.3
85          86            кофе холодный   70.3
86          87                 телятина  398.3

[87 rows x 3 columns]

In [7]:
ab_users_data

,user_id,order_id,action,time,date,group
0,964,1255,create_order,2022-08-26 00:00:19.000000,2022-08-26,0
1,965,1256,create_order,2022-08-26 00:02:21.000000,2022-08-26,1
2,964,1257,create_order,2022-08-26 00:02:27.000000,2022-08-26,0
3,966,1258,create_order,2022-08-26 00:02:56.000000,2022-08-26,0
4,967,1259,create_order,2022-08-26 00:03:37.000000,2022-08-26,1
...,...,...,...,...,...,...
4332,990,59422,create_order,2022-09-08 23:13:03.000000,2022-09-08,1
4333,1418,59439,create_order,2022-09-08 23:18:05.000000,2022-09-08,1
4334,1605,59464,create_order,2022-09-08 23:22:27.000000,2022-09-08,0
4335,1461,59487,create_order,2022-09-08 23:29:06.000000,2022-09-08,0
4336,1376,59533,create_order,2022-09-08 23:41:24.000000,2022-09-08,0

Так как нам нужно определить эффективность рекомендательной системы, можно предложить следующие метрики для её оценки:

– Размер чека
– Количество товаров в чеке
– Количество чеков на одного клиента